<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>School Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Empowering_logo.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>


<body>
  <!-- <main style="background-image: url(assets/img/login-bg.jpg); background-color: cadetblue; background-repeat: no-repeat; height:100% background-size:100%;"> -->
    <main style="background-image: url('assets/img/school-3596680_1280.jpg');">

    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <!-- <img src="assets/img/logo.png" alt="" style="max-height: 50px !important;"> -->
                  <!-- <span class="d-none d-lg-block">NiceAdmin</span> -->
                </a>
              </div><!-- End Logo -->

              <div style="background-color: #687474;" class="card mb-3">

                <div  class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Principal Account</h5>
                    <p class="text-center small">Enter your E-mail & password to login</p>
                  </div>

                  <form method="post" action="/login" class="row g-3 needs-validation" novalidate>
                    <img src="assets/img/letter-1219547_1280.jpg" alt="Image" class="img-fluid float-center" style="max-width: 400px;">
                    <div class="col-12">
                      <label for="yourUsername" class="form-label">E-mail id</label>
                      <div class="input-group has-validation">
                        <input type="email" name="email" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter a valid email address.</div>
                      </div>
                    </div>


                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <div class="input-group">
                          <input type="password" name="password" class="form-control" id="yourPassword" required>
                          <button  style="border-color:silver;background-color:white" class="btn btn" type="button" id="togglePassword">
                              <i  class="bi bi-eye"></i>
                          </button>
                      </div>
                      <div class="invalid-feedback">Please enter your password!</div>
                      <div class="password-strength-feedback"></div> <!-- Display password strength feedback here -->
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">Register an account? <a href="/register">Register</a></p>
                  </div>


                    <!-- <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div> -->
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>

                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>

      document.addEventListener('DOMContentLoaded', function() {
      const passwordInput = document.getElementById('yourPassword');
      const passwordStrengthFeedback = document.querySelector('.password-strength-feedback');

      passwordInput.addEventListener('input', function() {
          const password = passwordInput.value;
          const passwordLength = password.length;

          // Check if password is at least 8 characters
          if (passwordLength >= 6 && passwordLength <= 10 ) {
              passwordStrengthFeedback.textContent = '';
          } else {
              passwordStrengthFeedback.textContent = 'Password should be at least 6 to 10 characters';
              passwordStrengthFeedback.style.color = 'red';
          }
      });

      // Toggle password visibility
      const togglePasswordButton = document.getElementById('togglePassword');
      togglePasswordButton.addEventListener('click', function() {
          const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
          passwordInput.setAttribute('type', type);
          this.querySelector('i').classList.toggle('bi-eye');
          this.querySelector('i').classList.toggle('bi-eye-slash');
      });
  });
  //End toggle Password

  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var emailInput = document.getElementById('yourUsername');
      var invalidFeedback = emailInput.parentElement.querySelector('.invalid-feedback');
      
      emailInput.addEventListener('input', function () {
        var email = emailInput.value;
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    
        if (!emailPattern.test(email)) {
          invalidFeedback.textContent = "Invalid email format. Please enter a valid email address.";
          emailInput.classList.add('is-invalid');
        } else {
          invalidFeedback.textContent = "Please enter a valid email address.";
          emailInput.classList.remove('is-invalid');
        }
      });
    });
    </script>

  


</body>

</html>